<fieldset class="d-flex flex-column">
  @if (!model.repeatable) {
    <legend
      [id]="'legend_' + model.id"
      [ngClass]="[getClass('element', 'label'), getClass('grid', 'label')]"
      class="mb-1"
    >
      {{ model.placeholder | translate }}
      @if (model.required) {
        <span>*</span>
      }
    </legend>
  }

  <div class="input-group ds-datepicker-wrapper">
    <input
      id="{{ model.id }}_datepicker"
      class="form-control"
      type="text"
      [placeholder]="'DD/MM/YYYY'"
      ngbDatepicker
      #dp="ngbDatepicker"
      [disabled]="model.disabled"
      [(ngModel)]="dateModel"
      [ngModelOptions]="{ standalone: true }"
      (dateSelect)="onDateSelect($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
      (click)="dp.toggle()"
      readonly
      [attr.aria-label]="model.label | translate"
    />

    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="dp.toggle()"
      [disabled]="model.disabled"
    >
      <i class="fas fa-calendar"></i>
    </button>
  </div>
</fieldset>
