<div class="container-fluid">
  @if (item$ | async; as item) {
    @if (metadataEntries$ | async; as metadataEntries) {
      @if (classifiedBitstreams$ | async; as classifiedBitstreams) {
        @if (classifiedBitstreams.Master?.[0]?.url) {
          @if (heading$ | async; as heading) {
            <div
              id="docViewerContainer"
              data-show-accordion="true"
              [attr.data-user-name]="dsoNameService.getName(user$ | async)"
              data-case-id="1"
              [attr.data-case-guid]="item.uuid"
              data-show-back-button="false"
              data-back-url="dummy_url"
              [attr.data-annotation-base-url]="
                buildAnnotationBaseURLWithUser() | async
              "
              [attr.data-anno-get]="buildAnnotationUrl('load') | async"
              [attr.data-anno-post]="buildAnnotationUrl('save') | async"
              [attr.data-heading]="heading"
              [attr.data-url]="classifiedBitstreams.Master[0].url"
              [attr.data-documents]="classifiedBitstreams | json"
              [attr.data-metadata]="metadataEntries | json"
              [attr.data-document-summary]="summary | json"
              [attr.data-generate-summary-url]="
                buildGenerateSummaryUrl() | async
              "
              [attr.data-show-edit-item-button]="
                (editLink$ | async) ? 'true' : 'false'
              "
              [attr.data-edit-link]="(editLink$ | async) || null"
            ></div>
          }
        }
      }
    }
  }
</div>
