::ng-deep ds-search-form {
  display: none !important;
}

::ng-deep .search-form {
  display: none !important;
}

::ng-deep .search-results-header {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
