<div class="background-image-container">
  <picture class="background-image">
    <source srcset="assets/dspace/images/banner.png" type="image/jpg" />
    <img src="assets/dspace/images/banner.png" alt="background" />
  </picture>

  <div class="container content">
    <h1 class="main-title">
      <span class="nyay">Nyay</span><span class="nest">Nest</span>
    </h1>
    <p class="subtitle">Digital Repository for Legal Resources</p>

    <p class="description">
      NyayNest is a comprehensive digital repository dedicated to legal
      documents and resources.<br />
      Access a wide range of case laws, judgments, statutes, and legal
      literature.<br />
      Search and browse through collections organized by subject, jurisdiction,
      and date.<br />
      Contribute to the legal community by uploading and sharing relevant
      documents.
    </p>

    <!-- <div class="button-row">
      <button class="btn orange">{{ 'home.temp1' | translate }}</button>
    </div> -->

    <div class="features">
      <div class="feature-box">
        <img src="assets/dspace/images/document-text.png" alt="doc" />

        <span>Browse Documents</span>
      </div>
      <div class="feature-box">
        <img src="assets/dspace/images/document-text.png" alt="filter" />
        <span>Advanced Search</span>
      </div>
    </div>
  </div>
</div>
