<div class="background-image-container">
  <picture class="background-image">
    <source srcset="assets/dspace/images/banner.png" type="image/jpg" />
    <img src="assets/dspace/images/banner.png" alt="background" />
  </picture>

  <div class="container content">
    <h1 class="main-title">
      <span class="nyay">{{ "Nyay" | translate }}</span
      ><span class="nest">{{ "Nest" | translate }}</span>
    </h1>
    <p class="subtitle">{{ "home.subheading" | translate }}</p>

    <p class="description">
      {{ "home.paragraph1" | translate }}<br />
      {{ "home.paragraph2" | translate }}<br />
      {{ "home.paragraph3" | translate }}<br />
      {{ "home.paragraph4" | translate }}
    </p>

    <!-- <div class="button-row">
      <button class="btn orange">{{ 'home.temp1' | translate }}</button>
    </div> -->

    <div class="features">
      <div class="feature-box">
        <img src="assets/dspace/images/document-text.png" alt="doc" />

        <span>{{ "home.temp2" | translate }}</span>
      </div>
      <div class="feature-box">
        <img src="assets/dspace/images/document-text.png" alt="filter" />
        <span>{{ "home.temp3" | translate }}</span>
      </div>
    </div>
  </div>
</div>
